<h1 class="mat-display-1">Workflow Overview</h1>

<md-card *ngFor="let workflow of workflows" 
    style="display: inline-block;
    width: 30%;
    margin: 20px;
    vertical-align: top;
    cursor: pointer;">
  <md-card-header>
    <md-card-title>{{workflow.name}}</md-card-title>
    <md-card-subtitle>Beschreibung{{workflow.description}}</md-card-subtitle>
  </md-card-header>
  <md-card-content>
    <p>
      {{workflow.description}}
    </p>
  </md-card-content>
  <md-card-actions>
    <button md-button (click)="runWorkflow(workflow.sid)">RUN</button>
    <button md-button (click)="openDialog(workflow.sid)">FUN</button>
  </md-card-actions>
</md-card>

<p class="error" *ngIf="errorMessage">{{errorMessage}}</p>
