<h2>My Workflowes</h2>
<div>
  <label>Workflow name:</label> <input #workflowName />
  <button (click)="add(workflowName.value); workflowName.value=''">
    Add
  </button>
</div>
<ul class="workflowes">
  <li *ngFor="let workflow of workflowes" (click)="onSelect(workflow)"
      [class.selected]="workflow === selectedWorkflow">
    <span class="badge">{{workflow.id}}</span>
    <span>{{workflow.name}}</span>
    <button class="delete"
      (click)="delete(workflow); $event.stopPropagation()">x</button>
  </li>
</ul>
<div *ngIf="selectedWorkflow">
  <h2>
    {{selectedWorkflow.name | uppercase}} is my workflow
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>
